{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>

<body>

<div class="login">
  <h2>バスケログ</h2>
  <form method='POST' action="{% url 'accounts:user_login' %}">
    {% csrf_token %} 
     {% if form.non_field_errors %}
      <div style="color: #ef4444; font-size: 0.9rem; margin-bottom: 15px; font-weight: bold; background-color: #fee2e2; padding: 10px; border-radius: 6px;">
        {% for error in form.non_field_errors %}
          ⚠️ {{ error }}
        {% endfor %}
      </div>
    {% endif %}

  
    <div class="form-group">
      <label for="user_name" class="form-label">メールアドレス</label>
      <input type="email" id="user_name" name="username" class="form-control" placeholder="メールアドレスを入力" required>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">パスワード</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="パスワードを入力" required>
    </div>
    


    <button type="submit" class="btn-login">ログイン</button>
    <div class="regist-link">
      <a href="{% url 'accounts:regist' %}">アカウント登録</a>
    </div>

    <div class="guest-login">
      <a href="{% url 'accounts:home' %}">アカウント登録しないで利用する</a>
    </div>
  </form>
</div>
   
</body>
</html>