{% extends "base.html" %}

{% block content %}

<div class="arena-list-title">
    アリーナ情報
</div>

<form method="get" class="mb-4">

    <div class="input-group">

        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="検索"
            value="{{ query }}">

        <button class="arena-search-btn" type="submit">
            <i class="bi bi-search"></i>
        </button>

    </div>

</form>

<hr>

<ul class="arena-simple-list">

    {% for arena_id, arena_name in arenas %}

    <li>
        <a href="{% url 'spots:arena_top' arena_id %}">
         {{ arena_name }}
        </a>
    </li>

    {% empty %}

    <li>
        該当するアリーナがありません
    </li>

    {% endfor %}

</ul>
    
{% endblock %}