{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
    アリーナ情報
</h2>

<form method="get" class="mb-4">

    <div class="input-group">

        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="検索"
            value="{{ query }}">

        <button class="btn btn-primary" type="submit">

            <i class="bi bi-search"></i>

        </button>

    </div>

</form>

<hr>

<ul>
    {% for arena_id, arena_name in arenas %}
        <li>
            <a href="{% url 'spots:arena_top' arena_id %}">
                {{ arena_name }}
            </a>
        </li>
    {% empty %}
        <li>該当するアリーナがありません</li>
    {% endfor %}
</ul>

{% endblock %}