{% extends 'base.html' %}

{% block title %}{{ arena_name }} | バスケログ{% endblock %}

{% block content %}

<div class="container mt-4">

    <!-- アリーナ名 -->
    <div class="arena_title">
        {{ arena_name }}
    </div>

    <!-- カテゴリタブ -->
    <ul class="arena_category-tabs mb-4">

        <li class="nav-item">
            <a class="nav-link {% if not selected_category %}active{% endif %}"
               href="?">
                すべて
            </a>
        </li>

        {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link {% if selected_category == category.id|stringformat:'s' %}active{% endif %}"
               href="?category={{ category.id }}">
                {{ category.spot_category }}
            </a>
        </li>
        {% endfor %}

    </ul>

<!-- 最新口コミ -->

{% if nearby_spots %}

{% for spot in nearby_spots %}

<a href="{% url 'spots:nearby_detail' spot.pk %}"
   class="text-decoration-none text-dark">

    <div class="card mb-3">

        {% if spot.images.first %}
            <img src="{{ spot.images.first.image.url }}"
                 class="card-img-top"
                 style="height:220px;object-fit:cover;"
                 alt="投稿写真">
        {% endif %}

        <div class="card-body">

            <small class="text-muted">
                {{ spot.category }}
            </small>

            <h5 class="mt-2">
                {{ spot.spot_name }}
            </h5>

            <p class="mb-2">
                {{ spot.review|truncatechars:40 }}
            </p>

            <small class="text-muted">
                {{ spot.user.username }}
                ・
                {{ spot.created_at|date:"Y/m/d" }}
            </small>

        </div>

    </div>

</a>

{% endfor %}

{% else %}

<p>まだ周辺施設情報は投稿されていません。</p>

{% endif %}

    <!-- 投稿ボタン -->
    <div class="arena-action-buttons mt-4">

        <a href="{% url 'spots:nearby_create' arena_id %}"
           class="arena-post-btn">
            新規投稿
        </a>

        <a href="{% url 'spots:arena_top' arena_id %}"
           class="arena-nearby-btn">
            アリーナ情報一覧へ戻る
        </a>

    </div>

</div>

{% endblock %}