{% extends 'base.html' %}

{% block title %}{{ arena_name }} | バスケログ{% endblock %}

{% block content %}

<div class="container mt-4">

    <!-- アリーナ名 -->
    <div class="arena_title">
        {{ arena_name }}周辺情報
    </div>

    <!-- カテゴリタブ -->
    <ul class="arena_category-tabs mb-4">

        <li class="nav-item">
            <a class="nav-link {% if not selected_category %}active{% endif %}"
               href="?">
                すべて
            </a>
        </li>

        {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link {% if selected_category == category.id|stringformat:'s' %}active{% endif %}"
               href="?category={{ category.id }}">
                {{ category.spot_category }}
            </a>
        </li>
        {% endfor %}

    </ul>

<!-- 最新口コミ -->

{% if nearby_spots %}

{% for spot in nearby_spots %}

<a href="{% url 'spots:nearby_detail' spot.pk %}"
   class="text-decoration-none">

    <div class="nearby-card mb-3">

        <div class="card-body">

            <h5 class="nearby-name">
                {{ spot.spot_name }}
            </h5>

            <p class="nearby-review">
                {{ spot.review|truncatechars:13 }}
            </p>

        </div>

    </div>

</a>

{% endfor %}

{% if nearby_spots.has_other_pages %}

<div class="pagination-area text-center">

    {% if nearby_spots.has_previous %}
        <a href="?page={{ nearby_spots.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}">
            ← 前へ
        </a>
    {% endif %}


    <span>
        {{ nearby_spots.number }} / {{ nearby_spots.paginator.num_pages }}
    </span>


    {% if nearby_spots.has_next %}
        <a href="?page={{ nearby_spots.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}">
            次へ →
        </a>
    {% endif %}

</div>

{% endif %}

{% else %}

<p>まだ周辺施設情報は投稿されていません。</p>

{% endif %}

    <!-- 投稿ボタン -->
    <div class="arena-action-buttons mt-4">

        <a href="{% url 'spots:nearby_create' arena_id %}"
           class="arena-post-btn">
            新規投稿
        </a>

        <a href="{% url 'spots:arena_top' arena_id %}"
           class="arena-nearby-btn">
            アリーナ情報一覧へ戻る
        </a>

    </div>

</div>

{% endblock %}