{% extends "base.html" %}

{% block content %}

<div class="container mt-4 diary-form-page">

    <h2 class="page-title">
        観戦記録を作成する
    </h2>


    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}


        {% if diary_form.non_field_errors %}
            <div class="errorlist">
                {{ diary_form.non_field_errors }}
            </div>
        {% endif %}


        <!-- 試合情報 -->
        <div class="diary-input-area">
            {% for field in diary_form %}

                {% if field.name == "status" %}

                    <div class="status-field">

                        <div class="status-title">
                            {{ field.label }}
                        </div>


                    <div class="status-options">

                        {% for radio in field %}

                            <label>
                                {{ radio.tag }}
                                {{ radio.choice_label }}
                            </label>

                        {% endfor %}

                    </div>

                </div>



            {% elif field.name == "home_team_score" %}


                <div class="score-field">

                    <div class="score-title">
                        スコア
                    </div>


                    <div class="score-options">

                        {{ field }}

                        <span>-</span>

                        {{ diary_form.away_team_score }}

                    </div>


                </div>



            {% elif field.name != "away_team_score" %}


                <p>

                    {{ field.label }}

                    {{ field }}

                </p>


            {% endif %}


        {% endfor %}

        </div>

        </div>



        <!-- 写真 -->
        <div class="picture-fields">

            <div class="picture-title">
                 観戦写真
                <span>（最大5枚まで）</span>
            </div>


            {{ picture_formset.management_form }}


            {% for form in picture_formset %}

                <div class="picture-item">

                    <label>
                        写真 {{ forloop.counter }}
                    </label>

                    {{ form.picture_url }}

                    {{ form.id }}

                </div>

            {% endfor %}


        </div>



        <div class="text-center mt-4">

            <button type="submit" class="diary-submit-btn">
                保存
            </button>

        </div>


    </form>


</div>


{% endblock %}