{% extends "base.html" %}

{% block content %}

<h2 class="page-title email-page-title">
    メールアドレスの変更
</h2>

<div class="current-username">


<p class="account-label">
    現在のメールアドレス
</p>

<div class="current-name">
    {{ request.user.email }}
</div>


</div>

<form method="post">


{% csrf_token %}


<div class="form-group">

    <label class="account-label">
        新しいメールアドレスを入力
    </label>

    <input
        type="email"
        name="email"
        class="form-control email-change-input"
        value=""
    >

    {% if form.email.errors %}
        <div class="text-danger mt-2">
            {{ form.email.errors }}
        </div>
    {% endif %}

</div>


<div class="account-form-buttons">

    <button type="submit" class="account-save-btn">
        変更
    </button>

    <a href="{% url 'accounts:mypage' %}" class="account-back-btn">
        戻る
    </a>

</div>


</form>

{% endblock %}
