{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="page-title">投稿履歴</h2>

    <div class="history-tabs mb-4">

    <a href="{% url 'accounts:history' %}?tab=facility"
       class="history-tab {% if tab == 'facility' %}active{% endif %}">
        アリーナ情報
    </a>

    <a href="{% url 'accounts:history' %}?tab=nearby"
       class="history-tab {% if tab == 'nearby' %}active{% endif %}">
        周辺情報
    </a>

</div>

<div class="history-sort">

    
        <select onchange="location.href=this.value;">
            <option value="{% url 'accounts:history' %}?tab={{ tab }}&order=new"
                {% if order == "new" %}selected{% endif %}>
                新しい順
            </option>

            <option value="{% url 'accounts:history' %}?tab={{ tab }}&order=old"
                {% if order == "old" %}selected{% endif %}>
                古い順
            </option>
        </select>
    
</div>

{% if tab == "facility" %}

    {% if facility_posts %}

        {% for post in facility_posts %}

            <a href="{% url 'spots:facility_detail' post.pk %}"
               class="text-decoration-none text-dark">

                <div class="history-card">
                        <h5 class="mb-2">
                            {{ post.get_arena_name_display }}
                        </h5>

                        <p class="mb-2">
                            {{ post.review|truncatechars:13 }}
                        </p>

                        <small class="text-muted">
                            投稿日：{{ post.created_at|date:"Y/m/d" }}
                        </small>

                </div>

            </a>

        {% endfor %}

    {% else %}

        <div class="alert alert-secondary">
            投稿はまだありません。
        </div>

    {% endif %}

{% endif %}

{% if tab == "nearby" %}

    {% if nearby_posts %}

        {% for post in nearby_posts %}

            <a href="{% url 'spots:nearby_detail' post.pk %}"
               class="text-decoration-none text-dark">

                <div class="history-card">
                        <h5 class="mb-2">
                            {{ post.spot_name }}
                        </h5>

                        <p class="mb-2">
                            {{ post.review|truncatechars:13 }}
                        </p>

                        <small class="text-muted">
                            投稿日：{{ post.created_at|date:"Y/m/d" }}
                        </small>

                </div>

            </a>

        {% endfor %}

    {% else %}

        <div class="alert alert-secondary">
            周辺情報の投稿はまだありません。
        </div>

    {% endif %}

{% endif %}

<div class="history-back">
    <a href="{% url 'accounts:mypage' %}">
        戻る
    </a>
</div>

</div>

{% endblock %}