{% extends "base.html" %}
{% load static %}

{% block title %}
ホーム
{% endblock %}

{% block content %}
    
<a href="{% url 'games:public_diary_list' %}"
   class="home-link">    
    みんなの観戦記録
</a>

<form action="{% url 'games:public_diary_list' %}" method="get" class="mb-4">

    <div class="input-group">

        <input
            type="search"
            name="q"
            class="form-control"
            placeholder="日付・チーム名で検索">

        <button class="btn btn-outline-primary" type="submit">
            <i class="bi bi-search"></i>
        </button>

    </div>

</form>

<h3 class="mb-3">
    <img src="{% static 'images/new.png' %}"
        alt="NEW!"
        class="new-badge">
    最新観戦記録
</h3>

{% if recent_diaries %}

    {% for diary in recent_diaries %}

    <a href="{% url 'games:diary_detail' diary_id=diary.id %}"
        class="home-diary-card">

        <div class="home-diary-info">

            <p class="home-diary-meta">
                {{ diary.watch_date|date:"Y年m月d日" }}
                <span>{{ diary.user.username }} さん</span>
            </p>

            <h5>
                {{ diary.get_home_team_name_display }}
            </h5>

            <div class="home-diary-vs">
                VS
            </div>

            <h5>
                {{ diary.get_away_team_name_display }}
            </h5>

        </div>

        {% if diary.pictures.all %}
            <img src="{{ diary.pictures.all.first.picture_url.url }}"
                class="home_diary_thumbnail"
                alt="観戦写真">
        {% endif %}

    </a>

    {% endfor %}

{% else %}

    <div class="alert alert-secondary">
        最新の観戦記録はまだありません。
    </div>

{% endif %}

{% endblock %}