{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">マイページ</h2>

    <div class="list-group mt-4">

        <a href="{% url 'accounts:history' %}" class="list-group-item list-group-item-action">
            投稿履歴
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            ユーザ名の変更
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            メールアドレスの変更
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            パスワードの変更
        </a>

        
    </div>

</div>

{% endblock %}



