{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">マイページ</h2>

    <div class="list-group mt-4">

        <a href="{% url 'accounts:history' %}" class="list-group-item list-group-item-action">
            投稿履歴
        </a>

        <a href="{% url 'accounts:username_change' %}" class="btn btn-outline-primary">
            ユーザ名の変更
        </a>

        <a href="{% url 'accounts:email_change' %}" class="btn btn-primary">
            メールアドレス変更
        </a>

        <a href="{% url 'accounts:password_change' %}" class="btn btn-primary">
            パスワード変更
        </a>

        
    </div>

</div>

{% endblock %}



