{% extends "base.html" %}

{% block content %}

<h2 class="page-title">
    パスワードの変更
</h2>

<form method="post">

{% csrf_token %}

<div class="form-group">

    <label class="account-label">
        現在のパスワードを入力
    </label>

    {{ form.old_password }}

    {% if form.old_password.errors %}
        <div class="text-danger mt-2">
            {{ form.old_password.errors }}
        </div>
    {% endif %}

</div>


<div class="form-group">

    <label class="account-label">
        新しいパスワードを入力
    </label>

    {{ form.new_password1 }}

    {% if form.new_password1.errors %}
        <div class="text-danger mt-2">
            {{ form.new_password1.errors }}
        </div>
    {% endif %}

</div>


<div class="form-group">

    <label class="account-label">
        新しいパスワードを入力（確認用）
    </label>

    {{ form.new_password2 }}

    {% if form.new_password2.errors %}
        <div class="text-danger mt-2">
            {{ form.new_password2.errors }}
        </div>
    {% endif %}

</div>


<div class="account-form-buttons">

    <button type="submit" class="account-save-btn">
        変更
    </button>

    <a href="{% url 'accounts:mypage' %}" class="account-back-btn">
        戻る
    </a>

</div>


</form>

{% endblock %}
