{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="login-page">

<header class="app-header login-header">
  <div class="header-title text-white">
    バスケログ
  </div>
</header>

<div class="login">
  
    <form method='POST' action="">
    {% csrf_token %} 

    {% if form.non_field_errors %}
      <div style="color: #ef4444; font-size: 0.9rem; margin-bottom: 15px; font-weight: bold;">
        {{ form.non_field_errors.0 }}
      </div>
    {% endif %}

    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}" class="form-label">
            {{ field.label }}
        </label>
        
    
        {{ field }}
        
       
        {% if field.errors %}
          <div style="color: #ef4444; font-size: 0.8rem; margin-top: 4px;">
            {{ field.errors.0 }}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="btn-login">アカウント登録</button>

    <div class="register-link">
      <a href="{% url 'accounts:user_login' %}">ログイン画面へ</a>
    </div>

    <div class="guest-login">
      <a href="{% url 'accounts:home' %}">アカウント登録しないで利用する</a>
    </div>
    
  </form>
</div>

</body>
</html>