{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="page-title">
        ユーザ名の変更
    </h2>


        <div class="current-username">

            <p class="account-label">
                現在のユーザ名
            </p>

            <div class="current-name">
                {{ request.user.username }}
            </div>

        </div>



        <form method="post">

            {% csrf_token %}


            <div class="form-group">

                <label class="account-label">
                    新しいユーザ名を入力
                </label>


                {{ form.username }}


                {% if form.username.errors %}
                    <div class="text-danger mt-2">
                        {{ form.username.errors }}
                    </div>
                {% endif %}


            </div>



            <div class="account-form-buttons">

                <button type="submit" class="account-save-btn">
                    変更
                </button>


                <a href="{% url 'accounts:mypage' %}" class="account-back-btn">
                    戻る
                </a>

            </div>


        </form>



</div>

{% endblock %}